{% extends '@OwpCore/content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}Liste des parcours permanents{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1>Liste des événements</h1>
            {{ form_start(form, {'attr': {'id': 'form_event'}}) }}
                <div class="row">
                    <div class="form-group col-12 col-md-6 col-lg-3">
                        <label>Type de course</label>
                        {{ form_widget(form.eventType, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" form="form_event">Filtrer les événements</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':'Liste des événements', 'url':'#', 'class': 'active'}])}}
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                {% for event in events %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        {% include '@OwpEvent/Item/item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
